/.metadata/
timesheet/target/m2e-wtp/web-resources/META-INF/maven/edu.mum.cs.cs544/timesheet/pom.properties
attendance/target/m2e-wtp/web-resources/META-INF/maven/edu.mum.cs.cs544/attendance/pom.properties
